In [ ]:
pip install --upgrade xlrd

In [1]:
import os
from pymysql import connect
import pandas as pd
import numpy as np
from datetime import datetime
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
data_file_folder = r'D:\Users\shubh\Documents\ClimateDot\EV\Parivahan\Data\nextmonth'

In [3]:
master_df = pd.DataFrame()
df = pd.DataFrame()

for file in os.listdir(data_file_folder):
    
    if file.endswith('.xlsx'):
        print("loading file {0}. . .".format(file))
        df = pd.read_excel(os.path.join(data_file_folder, file))
        
        year = [*df][0][-5:-1] #extract year using string manipulation from the first cell of the excel
        month = [*df][0][-9:-6] #extract year using string manipulation from the first cell of the excel
        state_name = df.columns[0].split(' of ')[-1].split(' (')[0].strip()
        df['State'] = state_name

        df.iloc[2,0] = "Sr" #rename first column as 'Sr'
        df.iloc[2,1] = "Vehicle Class" #rename second column as 'Vehicle Class'
        df.iloc[2,-2] = "Total" #rename last column as 'Total'
        df.iloc[2,-1] = "State"
        new_header = df.iloc[2] #grab the first row for the header
        df = df[3:] #take the data less the header row
        df.columns = new_header #set the header row as the df header

        df['Year'] = year #add column year that specifies year
        df['Month_name'] = month #add column month that specifies month
        df.set_index("Sr",inplace = True) #drop the index column of dataframe
        
        master_df = pd.concat([master_df,df])

loading file reportTable (1).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (10).xlsx. . .
loading file reportTable (11).xlsx. . .
loading file reportTable (12).xlsx. . .
loading file reportTable (13).xlsx. . .
loading file reportTable (14).xlsx. . .
loading file reportTable (15).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (16).xlsx. . .
loading file reportTable (17).xlsx. . .
loading file reportTable (18).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (19).xlsx. . .
loading file reportTable (2).xlsx. . .
loading file reportTable (20).xlsx. . .
loading file reportTable (21).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (22).xlsx. . .
loading file reportTable (23).xlsx. . .
loading file reportTable (24).xlsx. . .
loading file reportTable (25).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (26).xlsx. . .
loading file reportTable (27).xlsx. . .
loading file reportTable (28).xlsx. . .
loading file reportTable (29).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (3).xlsx. . .
loading file reportTable (30).xlsx. . .
loading file reportTable (31).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (32).xlsx. . .
loading file reportTable (33).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (4).xlsx. . .
loading file reportTable (5).xlsx. . .
loading file reportTable (6).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable (7).xlsx. . .
loading file reportTable (8).xlsx. . .
loading file reportTable (9).xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

loading file reportTable.xlsx. . .

C:\Users\Hp\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
display(master_df)

2,Vehicle Class,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),ETHANOL,...,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,Total,State,Year,Month_name,Vehicle Type
Sr,,,,,,,,,,,,,,,,,,,,,
1,ADAPTED VEHICLE,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,46,Andhra Pradesh,2023,SEP,Others
2,AGRICULTURAL TRACTOR,0,"1,529",0,0,0,0,0,0,0,...,0,0,0,0,0,"1,529",Andhra Pradesh,2023,SEP,Others
3,AMBULANCE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,Andhra Pradesh,2023,SEP,Others
4,ARTICULATED VEHICLE,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,7,Andhra Pradesh,2023,SEP,Others
5,BUS,0,10,0,0,0,0,0,0,0,...,0,0,0,0,0,10,Andhra Pradesh,2023,SEP,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,MOTOR CAR,0,14,0,0,0,0,0,0,0,...,0,10,0,0,0,134,Andaman & Nicobar Island,2023,SEP,4W_Personal
10,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,Andaman & Nicobar Island,2023,SEP,2W_Shared
11,OMNI BUS,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,Andaman & Nicobar Island,2023,SEP,Bus
12,THREE WHEELER (GOODS),0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,2,Andaman & Nicobar Island,2023,SEP,3W_Goods
13,THREE WHEELER (PASSENGER),0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,41,Andaman & Nicobar Island,2023,SEP,3W_Shared

In [5]:
vehicle_type_dict = {
    '2W_Personal': ['MOPED', 'M-CYCLE/SCOOTER', 'M-CYCLE/SCOOTER-WITH SIDE CAR', 'MOTORISED CYCLE (CC > 25CC)'],
    '2W_Shared': ['MOTOR CYCLE/SCOOTER-USED FOR HIRE'],
    '3W_Personal': ['THREE WHEELER (PERSONAL)'],
    '3W_Shared': ['THREE WHEELER (PASSENGER)'],
    '3W_Shared_LowSpeed': ['E-RICKSHAW(P)'],
    '3W_Goods': ['THREE WHEELER (GOODS)'],
    '3W_Goods_LowSpeed': ['E-RICKSHAW WITH CART (G)'],
    '4W_Personal': ['MOTOR CAR'],
    '4W_Shared': ['MOTOR CAB', 'LUXURY CAB', 'LUXURY CAB'],
    'Bus': ['BUS', 'OMNI BUS', 'OMNI BUS (PRIVATE USE)'],
    'Institution Bus': ['EDUCATIONAL INSTITUTION BUS'],
    'Others': ['ADAPTED VEHICLE', 'AGRICULTURAL TRACTOR', 'AMBULANCE', 'ANIMAL AMBULANCE',
               'ARMOURED/SPECIALISED VEHICLE', 'ARTICULATED VEHICLE', 'AUXILIARY TRAILER', 'BREAKDOWN VAN', 
               'CAMPER VAN / TRAILER', 'CAMPER VAN / TRAILER (PRIVATE USE)', 'CASH VAN', 
               'CONSTRUCTION EQUIPMENT VEHICLE', 'CONSTRUCTION EQUIPMENT VEHICLE (COMMERCIAL)',
               'CRANE MOUNTED VEHICLE', 'DUMPER', 'EARTH MOVING EQUIPMENT', 'EXCAVATOR (COMMERCIAL)', 'EXCAVATOR (NT)', 
               'FIRE FIGHTING VEHICLE', 'FIRE TENDERS', 'FORK LIFT', 'GOODS CARRIER', 'HARVESTER', 'HEARSES',
               'LIBRARY VAN', 'MAXI CAB', 'MOBILE CANTEEN', 'MOBILE CLINIC', 'MOBILE WORKSHOP', 
               'MOTOR CYCLE/SCOOTER-SIDECAR(T)', 'POWER TILLER', 'PRIVATE SERVICE VEHICLE', 
               'PRIVATE SERVICE VEHICLE (INDIVIDUAL USE)', 'QUADRICYCLE (COMMERCIAL)', 'QUADRICYCLE (PRIVATE)', 
               'RECOVERY VEHICLE', 'ROAD ROLLER', 'ROAD ROLLERS', 'SNORKED LADDERS', 'TOE TRUCK', 'TOW TRUCK', 'TOWER WAGON', 
               'TRACTOR-TROLLEY(COMMERCIAL)', 'TRACTOR (COMMERCIAL)', 'TRAILER (AGRICULTURAL)', 
               'TRAILER (COMMERCIAL)', 'TRAILER FOR PERSONAL USE', 'TREE TRIMMING VEHICLE', 
               'VEHICLE FITTED WITH COMPRESSOR', 'VEHICLE FITTED WITH GENERATOR', 'VEHICLE FITTED WITH RIG', 'X-RAY VAN', 'SEMI-TRAILER (COMMERCIAL)',
  'MODULAR HYDRAULIC TRAILER',  'MOTOR CYCLE/SCOOTER-WITH TRAILER',  'POWER TILLER (COMMERCIAL)',  'BULLDOZER',  'MOTOR CARAVAN']
}

In [6]:
master_df['Vehicle Type'] = master_df['Vehicle Class'].map(
    {v: k for k, vehicles in vehicle_type_dict.items() for v in vehicles}, na_action='ignore')
master_df

2,Vehicle Class,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),ETHANOL,...,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,Total,State,Year,Month_name,Vehicle Type
Sr,,,,,,,,,,,,,,,,,,,,,
1,ADAPTED VEHICLE,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,46,Andhra Pradesh,2023,SEP,Others
2,AGRICULTURAL TRACTOR,0,"1,529",0,0,0,0,0,0,0,...,0,0,0,0,0,"1,529",Andhra Pradesh,2023,SEP,Others
3,AMBULANCE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,Andhra Pradesh,2023,SEP,Others
4,ARTICULATED VEHICLE,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,7,Andhra Pradesh,2023,SEP,Others
5,BUS,0,10,0,0,0,0,0,0,0,...,0,0,0,0,0,10,Andhra Pradesh,2023,SEP,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,MOTOR CAR,0,14,0,0,0,0,0,0,0,...,0,10,0,0,0,134,Andaman & Nicobar Island,2023,SEP,4W_Personal
10,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10,Andaman & Nicobar Island,2023,SEP,2W_Shared
11,OMNI BUS,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,Andaman & Nicobar Island,2023,SEP,Bus
12,THREE WHEELER (GOODS),0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,2,Andaman & Nicobar Island,2023,SEP,3W_Goods
13,THREE WHEELER (PASSENGER),0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,41,Andaman & Nicobar Island,2023,SEP,3W_Shared

In [7]:
vehicle_category_dict = {'2-Wheelers': ['2W_Personal', '2W_Shared'], 
                         '3-Wheelers': ['3W_Personal', '3W_Shared','3W_Shared_LowSpeed','3W_Goods','3W_Goods_LowSpeed'],
                        '4-Wheelers': ['4W_Personal', '4W_Shared'],
                        'Bus': ['Bus','Institution Bus'],
                        'Others': ['Others']}

In [9]:
master_df['Vehicle Category'] = master_df['Vehicle Type'].map(
    {v: k for k, categories in vehicle_category_dict.items() for v in categories}, na_action='ignore')
master_df

2,Vehicle Class,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),ETHANOL,...,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,Total,State,Year,Month_name,Vehicle Type,Vehicle Category
Sr,,,,,,,,,,,,,,,,,,,,,
1,ADAPTED VEHICLE,0,1,0,0,0,0,0,0,0,...,0,0,0,0,46,Andhra Pradesh,2023,SEP,Others,Others
2,AGRICULTURAL TRACTOR,0,"1,529",0,0,0,0,0,0,0,...,0,0,0,0,"1,529",Andhra Pradesh,2023,SEP,Others,Others
3,AMBULANCE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,Andhra Pradesh,2023,SEP,Others,Others
4,ARTICULATED VEHICLE,0,7,0,0,0,0,0,0,0,...,0,0,0,0,7,Andhra Pradesh,2023,SEP,Others,Others
5,BUS,0,10,0,0,0,0,0,0,0,...,0,0,0,0,10,Andhra Pradesh,2023,SEP,Bus,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,MOTOR CAR,0,14,0,0,0,0,0,0,0,...,10,0,0,0,134,Andaman & Nicobar Island,2023,SEP,4W_Personal,4-Wheelers
10,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,Andaman & Nicobar Island,2023,SEP,2W_Shared,2-Wheelers
11,OMNI BUS,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,Andaman & Nicobar Island,2023,SEP,Bus,Bus
12,THREE WHEELER (GOODS),0,2,0,0,0,0,0,0,0,...,0,0,0,0,2,Andaman & Nicobar Island,2023,SEP,3W_Goods,3-Wheelers
13,THREE WHEELER (PASSENGER),0,4,0,0,0,0,0,0,0,...,0,0,0,0,41,Andaman & Nicobar Island,2023,SEP,3W_Shared,3-Wheelers

In [10]:
master_df['Month_name'] = [str(i).lower() for i in master_df['Month_name']]
master_df['Day'] = 1
master_df

2,Vehicle Class,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),ETHANOL,...,PETROL/LPG,PETROL/METHANOL,SOLAR,Total,State,Year,Month_name,Vehicle Type,Vehicle Category,Day
Sr,,,,,,,,,,,,,,,,,,,,,
1,ADAPTED VEHICLE,0,1,0,0,0,0,0,0,0,...,0,0,0,46,Andhra Pradesh,2023,sep,Others,Others,1
2,AGRICULTURAL TRACTOR,0,"1,529",0,0,0,0,0,0,0,...,0,0,0,"1,529",Andhra Pradesh,2023,sep,Others,Others,1
3,AMBULANCE,0,0,0,0,0,0,0,0,0,...,0,0,0,2,Andhra Pradesh,2023,sep,Others,Others,1
4,ARTICULATED VEHICLE,0,7,0,0,0,0,0,0,0,...,0,0,0,7,Andhra Pradesh,2023,sep,Others,Others,1
5,BUS,0,10,0,0,0,0,0,0,0,...,0,0,0,10,Andhra Pradesh,2023,sep,Bus,Bus,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,MOTOR CAR,0,14,0,0,0,0,0,0,0,...,0,0,0,134,Andaman & Nicobar Island,2023,sep,4W_Personal,4-Wheelers,1
10,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,0,...,0,0,0,10,Andaman & Nicobar Island,2023,sep,2W_Shared,2-Wheelers,1
11,OMNI BUS,0,1,0,0,0,0,0,0,0,...,0,0,0,1,Andaman & Nicobar Island,2023,sep,Bus,Bus,1
12,THREE WHEELER (GOODS),0,2,0,0,0,0,0,0,0,...,0,0,0,2,Andaman & Nicobar Island,2023,sep,3W_Goods,3-Wheelers,1
13,THREE WHEELER (PASSENGER),0,4,0,0,0,0,0,0,0,...,0,0,0,41,Andaman & Nicobar Island,2023,sep,3W_Shared,3-Wheelers,1

In [11]:
cols = ['Day', 'Month_name', 'Year']
master_df['Date'] = master_df[cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
master_df

2,Vehicle Class,CNG ONLY,DIESEL,DIESEL/HYBRID,DI-METHYL ETHER,DUAL DIESEL/BIO CNG,DUAL DIESEL/CNG,DUAL DIESEL/LNG,ELECTRIC(BOV),ETHANOL,...,PETROL/METHANOL,SOLAR,Total,State,Year,Month_name,Vehicle Type,Vehicle Category,Day,Date
Sr,,,,,,,,,,,,,,,,,,,,,
1,ADAPTED VEHICLE,0,1,0,0,0,0,0,0,0,...,0,0,46,Andhra Pradesh,2023,sep,Others,Others,1,1-sep-2023
2,AGRICULTURAL TRACTOR,0,"1,529",0,0,0,0,0,0,0,...,0,0,"1,529",Andhra Pradesh,2023,sep,Others,Others,1,1-sep-2023
3,AMBULANCE,0,0,0,0,0,0,0,0,0,...,0,0,2,Andhra Pradesh,2023,sep,Others,Others,1,1-sep-2023
4,ARTICULATED VEHICLE,0,7,0,0,0,0,0,0,0,...,0,0,7,Andhra Pradesh,2023,sep,Others,Others,1,1-sep-2023
5,BUS,0,10,0,0,0,0,0,0,0,...,0,0,10,Andhra Pradesh,2023,sep,Bus,Bus,1,1-sep-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,MOTOR CAR,0,14,0,0,0,0,0,0,0,...,0,0,134,Andaman & Nicobar Island,2023,sep,4W_Personal,4-Wheelers,1,1-sep-2023
10,MOTOR CYCLE/SCOOTER-USED FOR HIRE,0,0,0,0,0,0,0,0,0,...,0,0,10,Andaman & Nicobar Island,2023,sep,2W_Shared,2-Wheelers,1,1-sep-2023
11,OMNI BUS,0,1,0,0,0,0,0,0,0,...,0,0,1,Andaman & Nicobar Island,2023,sep,Bus,Bus,1,1-sep-2023
12,THREE WHEELER (GOODS),0,2,0,0,0,0,0,0,0,...,0,0,2,Andaman & Nicobar Island,2023,sep,3W_Goods,3-Wheelers,1,1-sep-2023
13,THREE WHEELER (PASSENGER),0,4,0,0,0,0,0,0,0,...,0,0,41,Andaman & Nicobar Island,2023,sep,3W_Shared,3-Wheelers,1,1-sep-2023

In [12]:
new_order = ['Year', 'Month_name', 'Day', 'Date', 'State', 'Vehicle Class','Vehicle Category','Vehicle Type',
'CNG ONLY',
 'DIESEL',
 'DIESEL/HYBRID',
 'DI-METHYL ETHER',
 'DUAL DIESEL/BIO CNG',
 'DUAL DIESEL/CNG',
 'DUAL DIESEL/LNG',
 'ELECTRIC(BOV)',
 'ETHANOL',
 'FUEL CELL HYDROGEN',
 'LNG',
 'LPG ONLY',
 'METHANOL',
 'NOT APPLICABLE',
 'PETROL',
 'PETROL/CNG',
 'PETROL/ETHANOL',
 'PETROL/HYBRID',
 'PETROL/LPG',
 'PETROL/METHANOL',
 'SOLAR',
 'Total' ]

In [13]:
master_df = master_df.reindex(columns=new_order)
master_df

2,Year,Month_name,Day,Date,State,Vehicle Class,Vehicle Category,Vehicle Type,CNG ONLY,DIESEL,...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,Total
Sr,,,,,,,,,,,,,,,,,,,,,
1,2023,sep,1,1-sep-2023,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0,1,...,0,0,45,0,0,0,0,0,0,46
2,2023,sep,1,1-sep-2023,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others,0,"1,529",...,0,0,0,0,0,0,0,0,0,"1,529"
3,2023,sep,1,1-sep-2023,Andhra Pradesh,AMBULANCE,Others,Others,0,0,...,0,0,2,0,0,0,0,0,0,2
4,2023,sep,1,1-sep-2023,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others,0,7,...,0,0,0,0,0,0,0,0,0,7
5,2023,sep,1,1-sep-2023,Andhra Pradesh,BUS,Bus,Bus,0,10,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,2023,sep,1,1-sep-2023,Andaman & Nicobar Island,MOTOR CAR,4-Wheelers,4W_Personal,0,14,...,0,0,110,0,0,10,0,0,0,134
10,2023,sep,1,1-sep-2023,Andaman & Nicobar Island,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0,0,...,0,0,10,0,0,0,0,0,0,10
11,2023,sep,1,1-sep-2023,Andaman & Nicobar Island,OMNI BUS,Bus,Bus,0,1,...,0,0,0,0,0,0,0,0,0,1
12,2023,sep,1,1-sep-2023,Andaman & Nicobar Island,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,0,2,...,0,0,0,0,0,0,0,0,0,2
13,2023,sep,1,1-sep-2023,Andaman & Nicobar Island,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0,4,...,0,0,37,0,0,0,0,0,0,41

In [14]:
master_df['Year'] = master_df['Year'].astype(int)
master_df['Month_name'] = master_df['Month_name'].astype(str)
master_df['Day'] = master_df['Day'].astype(int)
master_df['State'] = master_df['State'].astype(str)
master_df['Vehicle Class'] = master_df['Vehicle Class'].astype(str)
master_df['Vehicle Category'] = master_df['Vehicle Category'].astype(str)
master_df['Vehicle Type'] = master_df['Vehicle Type'].astype(str)
master_df['CNG ONLY'] = master_df['CNG ONLY'].str.replace(',', '').astype(int)
master_df['DIESEL'] = master_df['DIESEL'].str.replace(',', '').astype(int)
master_df['DIESEL/HYBRID'] = master_df['DIESEL/HYBRID'].str.replace(',', '').astype(int)
master_df['DI-METHYL ETHER'] = master_df['DI-METHYL ETHER'].str.replace(',', '').astype(int)
master_df['DUAL DIESEL/BIO CNG'] = master_df['DUAL DIESEL/BIO CNG'].str.replace(',', '').astype(int)
master_df['DUAL DIESEL/CNG'] = master_df['DUAL DIESEL/CNG'].str.replace(',', '').astype(int)
master_df['DUAL DIESEL/LNG'] = master_df['DUAL DIESEL/LNG'].str.replace(',', '').astype(int)
master_df['ELECTRIC(BOV)'] = master_df['ELECTRIC(BOV)'].str.replace(',', '').astype(int)
master_df['ETHANOL'] = master_df['ETHANOL'].str.replace(',', '').astype(int)
master_df['FUEL CELL HYDROGEN'] = master_df['FUEL CELL HYDROGEN'].str.replace(',', '').astype(int)
master_df['LNG'] = master_df['LNG'].str.replace(',', '').astype(int)
master_df['LPG ONLY'] = master_df['LPG ONLY'].str.replace(',', '').astype(int)
master_df['METHANOL'] = master_df['METHANOL'].str.replace(',', '').astype(int)
master_df['NOT APPLICABLE'] = master_df['NOT APPLICABLE'].str.replace(',', '').astype(int)
master_df['PETROL'] = master_df['PETROL'].str.replace(',', '').astype(int)
master_df['PETROL/CNG'] = master_df['PETROL/CNG'].str.replace(',', '').astype(int)
master_df['PETROL/ETHANOL'] = master_df['PETROL/ETHANOL'].str.replace(',', '').astype(int)
master_df['PETROL/HYBRID'] = master_df['PETROL/HYBRID'].str.replace(',', '').astype(int)
master_df['PETROL/LPG'] = master_df['PETROL/LPG'].str.replace(',', '').astype(int)
master_df['PETROL/METHANOL'] = master_df['PETROL/METHANOL'].str.replace(',', '').astype(int)
master_df['SOLAR'] = master_df['SOLAR'].str.replace(',', '').astype(int)
master_df['Total'] = master_df['Total'].str.replace(',', '').astype(int)

In [15]:
master_df['Date'] = pd.to_datetime(master_df['Date'])
master_df

2,Year,Month_name,Day,Date,State,Vehicle Class,Vehicle Category,Vehicle Type,CNG ONLY,DIESEL,...,METHANOL,NOT APPLICABLE,PETROL,PETROL/CNG,PETROL/ETHANOL,PETROL/HYBRID,PETROL/LPG,PETROL/METHANOL,SOLAR,Total
Sr,,,,,,,,,,,,,,,,,,,,,
1,2023,sep,1,2023-09-01,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0,1,...,0,0,45,0,0,0,0,0,0,46
2,2023,sep,1,2023-09-01,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others,0,1529,...,0,0,0,0,0,0,0,0,0,1529
3,2023,sep,1,2023-09-01,Andhra Pradesh,AMBULANCE,Others,Others,0,0,...,0,0,2,0,0,0,0,0,0,2
4,2023,sep,1,2023-09-01,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others,0,7,...,0,0,0,0,0,0,0,0,0,7
5,2023,sep,1,2023-09-01,Andhra Pradesh,BUS,Bus,Bus,0,10,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,2023,sep,1,2023-09-01,Andaman & Nicobar Island,MOTOR CAR,4-Wheelers,4W_Personal,0,14,...,0,0,110,0,0,10,0,0,0,134
10,2023,sep,1,2023-09-01,Andaman & Nicobar Island,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,0,0,...,0,0,10,0,0,0,0,0,0,10
11,2023,sep,1,2023-09-01,Andaman & Nicobar Island,OMNI BUS,Bus,Bus,0,1,...,0,0,0,0,0,0,0,0,0,1
12,2023,sep,1,2023-09-01,Andaman & Nicobar Island,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,0,2,...,0,0,0,0,0,0,0,0,0,2
13,2023,sep,1,2023-09-01,Andaman & Nicobar Island,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0,4,...,0,0,37,0,0,0,0,0,0,41

In [16]:
engine = create_engine('mysql+pymysql://root:shubhangi123@localhost/climatedot_ev')

In [17]:
dtype = {'Date': sqlalchemy.types.Date}

In [19]:
table_name = 'state'
master_df.to_sql(name=table_name, con=engine, if_exists='append', index=False , dtype = dtype)

859